body{
	background-color: rgb(1, 86, 87);
	color:white;
	line-height: 2em;
	font-size: 24px;
    
}

button{

	box-shadow: 0 10px 20px rgba(0,0,0.19),6px 6px rgba(0,0,0,0.23);
}

#home{
	font-size: 40px;
}
div{
	text-align: right;
}